#!/usr/bin/env bash

# General
### neoVIm
alias vi='nvim'
### Tmux
alias t='tmux'
### Clear
alias c='clear'
### go to previous directory
alias ..='cd ..'
### display file LiSt(all, list, human-readable, file type)
alias ls='ls -alhp'
### display file LiSt(all, list, human-readable, file type, Time)
alias lst='ls -alhpt'
### display file LiSt(all, list, human-readable, file type, Size)
alias lss='ls -alhpS'
### Mkdir and Change directory
function mc {
  mkdir -p $1
  cd $1
}
### what is MY IP
alias myip="curl -s http://checkip.dyndns.org/ | sed 's/[a-zA-Z<>/ :]//g'"

# Config
### config DOTfiles folder open
alias dot='cd ~/dotfiles && nvim'
### config ALIAs open
alias alia='cd ~/dotfiles && nvim .aliases'
### config NEOVIM open
alias neovim='cd ~/dotfiles/.nvim && nvim'
### config shell Reload read command
alias r='source ~/.zshrc'
### config .zsh open
alias zshrc='cd ~/dotfiles && nvim .profile'

# Nodemon
### run nodemon
alias nm='nodemon'

# Tmux
### Tmux List Sessions
alias tls='tmux list-sessions'
### Tmux Kill Session
alias tks='tmux kill-session -t'


# Colima
### ColimA Start
alias cas='colima start --cpu 4 --memory 8'
### ColimA Start With Kubernetes
alias caswk='colima start --cpu 4 --memory 8 --kubernetes'
### ColimA Terminate
alias cat='colima stop'


# Docker Compose
### Docker Compose Up
alias dcu='docker compose up'
### Docker Compose Down
alias dcd='docker compose down --remove-orphans'
### Docker Compose Soft Purge
alias dcsp='docker compose down --remove-orphans --rmi all'
### Docker Compose Hard Purge
alias dchp='docker compose down --remove-orphans -v --rmi all'


# Git
### Git Remote Prune Origin
alias grpo='git remote prune origin'
alias gsu='gh auth switch && gh auth setup-git'

### Git Reflog --date=iso
alias gr='git reflog --date=iso'


# Coding For Fun
## Change directory
### change directory to vimwiki
alias wt="cd ~/vimwiki && nvim"
### change directory to Coding for Fun
alias cf="cd ~/code/personal/coding-for-fun-org/"
### change directory to frontend
alias fe="cd ~/code/frontend/"
### change directory to Play-JavaScript
alias pjs="cd ~/code/personal/play-javascript/"
### change directory to Play-TypeScript
alias pts="cd ~/code/personal/play-typescript/"
### change directory to Play-NextJs14
alias pnj="cd ~/code/personal/play-nextjs14/"
